.my-place{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 50%;
}
.wraper{
    display: flex;
    justify-content: center;  
}
.place-list{
    display: flex;
    justify-content: space-around;
    align-items: center;  
    padding: 1vw;
    border-bottom: 1px solid rgb(230, 230, 230);
}
.place-list-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.map-feature{
    padding: .51vw;
}
.save-place{
    width: 100%;
    margin: .4vw;
}
.add-place-modal{
    display: block;
    position: fixed;
}
.cords{
    background: inherit;
    font-size: .8em;
    border: none;
    margin: .3vw;
    color: black;
}
.map-wraper{
    margin: 0 8vw;
    align-self: center;
}
.place-deatil{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.edit-btn{
    border: 1px solid black;
    /* left: 5vw; */
    width: 70%;
    margin: 1vw;
    display: block;
}
@media (max-width: 640px) {
    .my-place{
        width: 100%;
    }
    .title{
        padding: 0;
        margin: 0;
        font-size: 1.2em;
    }
    .buttons-place {
        display: flex;
        flex-direction: row;
    }
    .buttons-place button{
        font-size: .5em;
    }
    .place-deatil{
        display: flex;
        flex-direction: row;
        /* align-items: center; */
    }
    .map-wraper{
        width: 100%;
        margin: 0;
        height: 100%;
        /* padding: 0; */
    }
    .edit-btn{
        margin: 0;
        /* border: 0; */
    }
    .content{
        margin-bottom: 0 !important;

    }
    .content img{
        display: none;
    }
    
}
